BACK_END_BASE_URL={your_backend_url}
FRONT_END_BASE_URL={your_frontend_url}

BREVO_FROM_EMAIL={your_brevo_email}
BREVO_USERNAME={your_brevo_username}
BREVO_PASSWORD={your_brevo_password}
BREVO_PORT={your_brevo_port}

RAILWAY_DB_HOST={your_railway_db_host}
RAILWAY_DB_USERNAME={your_railway_db_username}
RAILWAY_DB_PASSWORD={your_railway_db_password}
RAILWAY_DB_PORT={your_railway_db_port}
RAILWAY_DB_NAME={your_railway_db_name}

RENDER_DB_HOST={your_render_db_host}
RENDER_DB_USERNAME={your_render_db_username}
RENDER_DB_PASSWORD={your_render_db_password}
RENDER_DB_PORT={your_render_db_port}
RENDER_DB_NAME={your_render_db_name}

JWT_SECRET={your_jwt_secret}