spring:
  datasource:
    url: jdbc:postgresql://${RENDER_DB_HOST}:${RENDER_DB_PORT}/${RENDER_DB_NAME}?sslmode=require
    username: ${RENDER_DB_USERNAME}
    password: ${RENDER_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
        maximum-pool-size: 10
        minimum-idle: 2
        idle-timeout: 30000
        connection-timeout: 30000
        max-lifetime: 1800000
        pool-name: HikariCP
  jpa:
    hibernate:
      ddl-auto: none # IMPORTANT: never use update/create in production.
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  sql:
    init:
      mode: always